flask
fastapi
uvicorn
python-dotenv
psycopg2-binary
numpy
pandas
scikit-learn
joblib
torch
torchvision
timm
onnxruntime
albumentations
faster-whisper
soundfile
tqdm
matplotlib
opencv-python
mediapipe
openai
requests
cloudinary
reportlab