flask
psycopg2-binary
pandas
numpy
scikit-learn
joblib
openai
python-dotenv
psycopg2-binary
requests
torch
numpy
pandas
scikit-learn
joblib
faster-whisper
tqdm
soundfile
matplotlib
opencv-python
cloudinary
reportlab